body{
	background: #16c79e;;
	text-align: center;
}
h1{

	color: #fff;
}
form{
	width: 200px;
	margin: 30px auto;
}
input{
	width: 200px;
	height: 30px;
	margin-top: 20px;
	background: #D0648A;
	color: white;
	font-weight: bold;
}
select{
	width: 200px;
	border: none;
	display: none;
}